.exhib {
    z-index: -2;
    opacity: 1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: #e2cbbeff;
}

.exhib-central{
    padding: 7em;
    z-index: -1;
    opacity: 1;
    position: fixed;
    left: 20%;
    right: 20%;
    min-height: 100%;
    width: 60%;
    background-color: #b0adceff;

}


.exhib-h1{
    font-family: MyOpen;
    font-size: 5em;
    background-image: url('../../img/salle.png');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 1.5em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.exhib-h1-mobile{
    font-family: MyOpen;
    background-image: url('../../img/salle.png');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 1.5em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.exhib-h1-soon {
    writing-mode: vertical-lr;
    font-family: MyOpen;
    font-size: 5em;
    background-image: url('../../img/salle.png');
    background-attachment: fixed;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    
}

.exhib-h1-soon-mobile {
    writing-mode: vertical-lr;
    font-family: MyOpen;
    padding-left: 1em;
    background-image: url('../../img/salle.png');
    background-attachment: fixed;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    
}

.exhib-description-soon {
    padding: 1em;
    color: white;
    font-family: MyOswald;  
    background-color: #e2cbbeff;
    text-align: justify;
    text-justify: inter-word;
}

.soon-div {
    padding-top: 10em
}

.exhib-carousel {
    width: 90% ;
    background-color: #e2cbbeff;
    padding: 2em;
}