.contact {
    z-index: -2;
    opacity: 1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: #d6a586ff;
}

.contact-central{
    padding: 7em;
    z-index: -1;
    opacity: 1;
    position: fixed;
    left: 20%;
    right: 20%;
    min-height: 100%;
    width: 60%;
    background-color: #e2cbbeff;

}


.contact-h1{
    font-family: MyOpen;
    font-size: 5em;
    background-image: url('../../img/visage1.png');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 1.5em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact-h1-nudes {
    writing-mode: vertical-lr;
    font-family: MyOpen;
    font-size: 5em;
    
    background-image: url('../../img/visage1.png');
    background-attachment: fixed;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    
}

.contact-description-nudes {
    padding: 1em;
    color: white;
    font-family: MyOswald;  
    background-color: #d6a586ff;
    text-align: justify;
    text-justify: inter-word;
}