.contact {
    z-index: -2;
    opacity: 1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: white;
}

.contact-central{
    padding: 7em;
    z-index: -1;
    opacity: 1;
    position: fixed;
    left: 20%;
    right: 20%;
    min-height: 100%;
    width: 60%;
    background-color: white;

}


.contact-h1{
   writing-mode: vertical-lr;
    font-family: MyOpen;
    font-size: 5em;
    
    background-image: url('../../img/visage1.png');
    background-attachment: fixed;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 0.1em;
}

.contact-h1-mobile{
   writing-mode: vertical-lr;
    font-family: MyOpen;
    font-size:3em;
    background-image: url('../../img/visage1.png');
    background-attachment: fixed;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}

.contact-body {
    padding-top: 5em;
}

.contact-item {
    padding-top: 1em;
}
.contact-description {
    color: black;
    font-family: MyOswald;  
    padding-top: 4em;
    text-align: justify;
    text-justify: inter-word;
    
    line-height: 170%;
    padding: 2em;
    border-radius: 3em;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.contact-description-left {
    color: black;
    font-family: MyOswald;  
    margin-top: 2em;
    text-align: right;
    text-justify: inter-word;
    
    line-height: 170%;
    padding: 2em;
    border-radius: 3em;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.contact-mail {
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    background-image: url('../../img/visage1.png');
    background-attachment: fixed;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact-mail:hover{
    -webkit-transform: scale(1.1);
}
