.works {
    z-index: -2;
    opacity: 1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: white;

}

.works-central{
    padding: 7em;
    z-index: -2;
    opacity: 1;
    position: fixed;
    left: 20%;
    right: 20%;
    min-height: 100%;
    width: 60%;
    background-color: white;

}


.works-h1-mobile{
    letter-spacing: 0.1em;
    font-family: MyOpen;
    background-image: url('../../img/nude.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 2em;
    font-size: 280%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.works-h1{
    letter-spacing: 0.1em;
    font-family: MyOpen;
    font-size: 500%;
    background-image: url('../../img/nude.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 2em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.clothes-intro {
    color: black;
    font-family: MyOswald;  
    margin-top: 2em;
    text-align: center;
    text-justify: inter-word;
    font-size: 130%;
    line-height: 170%;
    padding: 2em;
    border-radius: 3em;
}

.works-menu {
    
    z-index: 2;
    writing-mode: vertical-rl;
    min-height: 95%;
    max-height: 100%;
    position: fixed; /* If you want text inside of it */
    text-align: justify;
    text-justify: inter-word;


}

.menu-link {
    background-image: url('../../img/nude.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 1.5em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.2em;
    font-family: MyOpen;
    margin-top: 1.5em;
}

.menu-link:hover{
    text-decoration: line-through;
    color: black;
}

.oeuvre {
    margin-bottom: 1em;
    
}

.works-oeuvre {

     padding: 1em;
    color: black;
    font-family: MyOswald;  
    
    background-color: white;
    text-align: justify;
    text-justify: inter-word;
   
    border-radius: 3em;
    letter-spacing: 0.1em;
  
}

.visu {
    background-color: white;
    padding: 2em;
    margin-top: 5em;
    border-radius: 3em;
}

.visu-media {
    background-color: white;
    
    margin-top: 5em;

    width: 80%;
    padding-top: 80%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */

    border-radius: 3em;

}

.works-h2 {
    font-family: MyOpen;
    display: flex;
    justify-content: flex-end;
    color: black;
}

.works-h2-left {
    font-family: MyOpen;
    display: flex;
    justify-content: flex-start;
    color: black;
}

.works-description {
    padding-top: 7em;
    padding-right: 3em;
    padding-left: 3em;
}

.audio-player {
    background: url('../../img/nuage.png');
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    max-height: 90%;

    position: absolute;
    top: 2em;
    left: 2em;
    bottom: 2em;
    right: 2em;
    border-radius: 3em;
}

.video-player{
   max-width: 100%;
    border-radius: 3em;
       
}
#play {
    cursor: pointer;
}


.visu-clothes {
    border-radius: 1.5em;
    padding: 1em;
    margin-bottom: 1em;
    
}

.visus-clothes {
 padding: 6em;
}

.shop-link{
    color: white;
    background-image: url('../../img/nude.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.1em;
    font-family: MyOpen;
    padding-top:1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 1.5em;
}

.shop-link:hover{
     color: white;
    text-decoration: none
    
}