.color-nav{
    background-color: rgba(33, 26, 29,0.0)
}

.nav-brand{
    font-family:'Hijrnotes';
    color:white;
    font-size: 2em;
    font-weight: bold
}

.nav-link{  
    color:white;
    font-size: 1.2em;
    font-family: MyOpen    
}

.nav-link:hover{
    text-decoration: line-through;
    color: white
}

.nav-brand:hover{
    color: white ;
    text-decoration: none
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
    
}
