.white-nav{
   background-color: white
}

.transparent-nav{
    background-color: transparent
}

.nav-brand{
    font-family:'Hijrnotes';
    
    
    background-image: url('img/duducloud.gif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    
    font-size: 2em;
    font-weight: bold
}

.nav-link{  
    
    background-image: url('img/duducloud.gif');
    background-size: cover;
    background-attachment: fixed;
   
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    font-size: 1.2em;
    font-family: MyOpen    
}

.nav-link:hover{
    text-decoration: line-through;
    background-image: url('img/duducloud.gif');
    background-size: cover;
    background-attachment: fixed;
   
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-brand:hover{
    color: black ;
    text-decoration: none
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.header-drop {
    opacity:1;
    color:black;
    font-family:MyOpen;
    font-size:16px;
    mix-blend-mode:normal;
    text-align: right
}

#nav-dropdown{
    color: black;
    right: 0;
    left: auto;
}

.page {
  position: absolute;
  left: 0;
  right: 0;
    
}