body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Hijrnotes';
  src: url('./fonts/Hijrnotes.ttf') format('truetype');
}

@font-face {
  font-family: 'Germa';
  src: url('./fonts/germanica_family/Fluted_Germanica.ttf') format('truetype');
}

@font-face {
  font-family: 'MyOpen';
  src: url('./fonts/OpenOswald/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'MyOswald';
  src: url('./fonts/OpenOswald/oswald/Oswald-Light.ttf') format('truetype');
}
